<section id="main">
    <a href="./#/drivers"><- Back to drivers list</a>
    <div  class="panel panel-default" class="main-nav">
        <div class="panel-heading">
            <div>
                <img ng-show="driver" ng-src="img/drivers/{{driver.Driver.driverId}}.png" />
                <img ng-show="driver" ng-src="img/flags/{{driver.Driver.nationality}}.png" /><br/>
                {{driver.Driver.givenName}} {{driver.Driver.familyName}}
            </div>
        </div>
        <div class="panel-body">
            Country: {{driver.Driver.nationality}}   <br/>
            Team: {{driver.Constructors[0].name}}<br/>
            Birth: {{driver.Driver.dateOfBirth}}<br/>
            <a href="{{driver.Driver.url}}" target="_blank">Biography</a>
        </div>
    </div>

    <div class="main-content">
        <table class="table table-striped" class="result-table">
            <thead>
            <tr><th colspan="5">Formula 1 2013 Results</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
            </tr>
            <tr ng-repeat="race in races">
                <td>{{race.round}}</td>
                <td><img  ng-src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
                <td>{{race.Results[0].Constructor.name}}</td>
                <td>{{race.Results[0].grid}}</td>
                <td>{{race.Results[0].position}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>