<input type="text" class="form-control" ng-model="nameFilter" placeholder="Search..."/>
<table class="table table-striped">
    <thead>
    <tr><th colspan="4">Drivers Championship Standings</th></tr>
    </thead>
    <tbody>
    <tr ng-repeat="driver in driversList | filter: searchFilter">
        <td>{{$index + 1}}</td>
        <td>
            <img ng-src="img/flags/{{driver.Driver.nationality}}.png" />
            <a href="#/drivers/{{driver.Driver.driverId}}">
                {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
            </a>
        </td>
        <td>{{driver.Constructors[0].name}}</td>
        <td>{{driver.points}}</td>
    </tr>
    </tbody>
</table>